<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Topik</title>
    <link rel="stylesheet" href="/app/styles/main.css">
    <script data-main="/app/js/main" src="/app/js/plugins/require.js"></script>
</head>
<body>
	<div class="home">
		<div class="home-container">
			<div class="home-title">
				Topik
			</div>
			<div class="description">
				Research Organization Made Easy.
			</div>
			<div class="login">
				<br>
				<input id="email" value="email"><br>
				<input id="password" value="password">
			</div>
			<div id="warning">
				The password entered does not match this email.
			</div>
			<br>
			<i class="login-btn icon-circle-blank"></i>
		</div>
	</div>
</body>