<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Topik</title>
        <link rel="stylesheet" href="/app/styles/main.css">
        <script data-main="/app/js/main" src="/app/js/plugins/require.js"></script>
    </head>
</html>
<body>
	<div class="main">
		<div class="top-bar">
			Topik
		</div>
		<div class="left-bar">
			{{#topics}}
				<div class="topic-block" data-id="{{_id}}">
					{{title}}
				</div>
			{{/topics}}
			<div class="new-topic">
				<div class="topic-box">
					Enter Your Topic
					<input id="new-topic-input">
				</div>
			</div>
			<div class="add-topic">
				<i class="icon-plus-sign"></i>
			</div>
		</div>
		<div class="action-panel">
			<div class="left-bar-actions">
				<i class="icon-picture" id="pichl"></i><br><br>
				<i class="icon-file" id="article"></i><br><br>
				<i class="icon-text-height" id="text"></i>
			</div>
			<div class="img-actions">
				<div class="img-container">
					<img class="img" src="/app/assets/img/bgdark.png">
				</div>
				<input value="Image Url" id="img-url">
			</div>
		</div>
		<div class="view-container">
		</div>

		<div class="hl">
		</div>
	</div>
</body>